<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div className="container">
      <h2>Department name: <%= department.deptName%></h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere vitae
        accusantium beatae, aperiam non id temporibus aut cum. Facilis,
        voluptates dolor at omnis accusantium voluptatum? Nobis amet aperiam
        repudiandae maxime.
      </p>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos labore
        pariatur voluptas suscipit. Cupiditate maiores illo veniam dolores,
        architecto totam perferendis minima nesciunt temporibus doloremque ipsam
        ea dolore labore incidunt.
      </p>
    </div>
  </body>
</html>
